
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prime Digital Academy: UX Tier 1</title>

  <link href="//cloud.webtype.com/css/13d3f5c4-524e-44f4-8bbf-ead2cd9fdc3d.css" rel="stylesheet" type="text/css" />
  <link href="//cloud.typenetwork.com/projects/452/fontface.css/" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="styles/bootstrap.css" />
  <link rel="stylesheet" href="styles/main.css" />

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
</head>
<body>
  <header>
    <div class="title-page"><img src="images/prime-logo-horizontal.svg" />User Experience Design: Tier 1</div>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week1.html">Week 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week2.html">Week 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week3.html">Week 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week4.html">Week 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="week5.html">Week 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week6.html">Week 6</a>
      </li>
    </ul>
  </header>
  <section class="section-6">
    <div class="container-page">
      <h2>Week 5: Evaluation</h2>
      <!--<img style="float: right; padding-right: 40px" src="/images/ux-processModel-evaluate.png" />-->
      <p>This week, we will introduce the most common ways that UX designers evaluate the effectiveness and usability of designs, including think-aloud usability tests.  We will explore how to conduct these evaluations, including preparation before, activities during, and what to do with the results. You will learn how to conduct a usability evaluation of a design and gain an understanding of what to do with the results in order to make recommendations and improvements.
      </p>
      <p>
        It should be clear that this week we are spending time in the “evaluate” portion of the design process!
      </p>

     <p>
       By the end of this week, you will:
       <ul>
         <li>
           Gain experience executing a usability test on your prototype
         </li>
         <li>
           Gain familiarity with how to report findings in a test report
         </li>
         <li>
           Increase your understanding of how to make recommendations research findings
         </li>
       </ul>
     </p>
     <p>
     Take a moment to <a style="color: white; text-decoration: underline; href="https://flipgrid.com/mfn6po" target="_blank">watch our weekly video introduction ></a>
     </p>
     <p>
       <strong>NOTE: <em>This week's Weekly Class will happen on-site at Prime. Check the Slack channel to RSVP.</em></strong>
     </p>

      <ol class="grey-li">
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-1"><span class="action-type">1. Watch</span>"Watching Users"</div>
          <div id="w5-1" class="collapse sub-content">
            <p>
              The focus of this week’s content is to gain familiarity with the tools and methods used to understand what users are doing and why they are doing it. Many times, we will want to combine methods, such as Google Analytics and usability testing, in order to get a richer picture of what is going on when people interact with our designs. Usability testing is a great way to get feedback on wireframes and prototypes and can be conducted within any budget while still yielding meaningful results.
            </p>
            <p>
              Go to Gymnasium <strong><a href="http://gymnasium.aquent.com/courses/GYM/103/0/courseware/88724c300415487d8c1678bc4f776e47/87722e89d460487b82e5df1cb3e39545/" target="_blank">Lesson 6: Watching users</a></strong>
            </p>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-2"><span class="action-type">2. Read</span>in <em>Universal Methods of Design</em>
          </div>
          <div id="w5-2" class="collapse sub-content">
            <p>
              To get prepared for this week’s assignment, you’ll want to read more details on how to conduct a think-aloud usability test and how to prepare a report of your findings.
            </p>
            <p>
              Read:
            </p>
            <ul>
             <li>
               A/B testing (pg 8-9)
             </li>
             <li>
               Think-aloud protocol (pg 180-181)
             </li>
             <li>
               Usability reports (pg 192-193)
             </li>
           </ul>
            <p>
              <a href="https://www.nngroup.com/people/jakob-nielsen/" target="_blank">Jakob Nielsen’s</a> research concludes that testing with zero users will provide zero results (obviously), but even testing with one user can be useful. However, as a general rule, he recommends testing with 3-5 users per design iteration, in order to get the maximum returns on your efforts.
            </p>
            <p style="text-indent: 30px;">
              Read more about the reasoning behind <a href="https://www.nngroup.com/articles/why-you-only-need-to-test-with-5-users/" target="_blank">“Why you only need to test with 5 users”</a>
            </p>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-3"><span class="action-type">3. Read</span>in <em>Universal Principles of Design</em>
          </div>
          <div id="w5-3" class="collapse sub-content">
              <p>
                When conducting a usability test or other design-based research, it is important to understand that while the research is not considered scientific, you do want your results to be as clean as possible. This means that you need to be aware of "priming" your users before and during an evaluation session and otherwise exposing them to stimuli that would affect their responses.
              </p>
              <p>
               Read:
              </p>
              <ul>
              <li>
                Priming (pg 186-187)
              </li>
              <li>
                Exposure effect (pg 86-87)
              </li>
              </ul>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-4"><span class="action-type">4. Watch</span>Usability test video (24 min)
          </div>
          <div id="w5-4" class="collapse sub-content">
            <p>
              You’re already a bit familiar with Steve Krug and his take on usability, based on the reading you did in Week 3. This week, as you prepare for conducting some usability tests of your own, it’s a great time to watch a sample think-aloud usability test conducted by Krug himself. The test runs about 24 minutes but really is worth watching to get a true sense of how these tests are facilitated and structured.
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QckIzHC99Xc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-5" ><span class="action-type">5. Reflect & Discuss</span>in Slack
          </div>
          <div id="w5-5" class="collapse sub-content">
            <div class="discussion-block">
            <p><strong>What have your learned about usability testing? </br>What questions do you still have? </br>What do you think will be most challenging when conducting your own tests?</strong></p>
          </div>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-6"><span class="action-type">6. Attend</span>On-site Class at Prime
          </div>
          <div id="w5-6" class="collapse sub-content">
            <div class="discussion-block">
                <p>Join us this week <strong>on-site at Prime Academy</strong> for some pizza and conversation!
                  <p>Check Slack for a reminder of the specific times. <Strong>There will only be one option this week.</Strong>
                </p>
              </div>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-7" ><span class="action-type">7. Complete</span>a usability test of your prototype & submit a brief report by Sunday, 11:30pm
          </div>
          <div id="w5-7" class="collapse sub-content">
                <p>
                  For many of you, this assignment may be the first usability test that you are conducting in a formal manner. If you’re uncomfortable or unsure of yourself, don’t worry—we will continue conducting tests of this nature a number of times throughout the program, and you’ll continually improve with practice. However, the best way to keep yourself as calm and prepared as possible is to prepare a test script. This is something even seasoned experts do, as shown in <a href="http://www.slideshare.net/DigitalGov/usability-testing-report-template" target="_blank">this presentation</a> and this <a href="http://www.sage-research.com/v4/sage_usability_study_report_example.pdf" target="_blank">formal report sample</a>.
                </p>
                <p>
                  <a href="https://primeacademy.io/student/assignments/cypress-week-5-1-usability-testing-findings-report" target="_blank"><strong>View the directions</strong></a> in the student portal.

                </p>
          </div>
        </li>
          <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w5-8" class="last"><span class="action-type">8. Complete</span>the Strengthsfinder assessment by Sunday, 11:30pm
          </div>
          <div id="w5-8" class="collapse sub-content">

         <p><a target="_blank" href="http://strengths.gallup.com/110440/About-StrengthsFinder-20.aspx">Strengthsfinder</a> is an assessment to help you identify which abilities you lead with as your personal strengths. The quiz generates a personalized insights report and an Action-Planning Guide. Completing the quiz and reading the results should take about 30-45 minutes.</p>

        <p>We're introducing you to Strenghtsfinder because:</p>
      <ul>
        <li>
          It's a good way to self-reflect on your own work style, learn about your fellow students, and understand how others prefer to tackle challenges within group environments.
        </li>
        <li>
          It's an assessment widely used within hiring partner organizations, so being able to speak confidently to your Strengths results may help you within future job interviews.
        </li>
      </ul>
      <p>
        <a href="https://primeacademy.io/student/assignments/cypress-week-5-2-strengthsfinder" target="_blank"><strong>View the directions</strong></a> in the student portal
      </p>
          </div>
        </li>
    </ol>
    </div>
  </section>

    <footer>
      Prime Digital Academy &copy; 2018
    </footer>
  </body>
  </html>
