
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prime Digital Academy: UX Prework</title>

  <link href="//cloud.webtype.com/css/13d3f5c4-524e-44f4-8bbf-ead2cd9fdc3d.css" rel="stylesheet" type="text/css" />
  <link href="//cloud.typenetwork.com/projects/452/fontface.css/" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="styles/bootstrap.css" />
  <link rel="stylesheet" href="styles/main.css" />

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
</head>
<body>
  <header>
    <div class="title-page"><img src="images/prime-logo-horizontal.svg" />User Experience Design: Prework</div>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week1.html">Week 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week2.html">Week 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="week3.html">Week 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week4.html">Week 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week5.html">Week 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="week6.html">Week 6</a>
      </li>
    </ul>
  </header>
  <section class="section-4">
    <div class="container-page">
      <h2>Week 3: Content Strategy & Information Architecture</h2>
      <p>This week, we will focus on the meaning of content within our designs, giving more attention to the page/screen flow and navigation language. We will discuss methods for improving usability by creating content that is more easily understood by our users. We will also cover ways to evaluate how well our content is working for our users. You will expand on your assignment from previous weeks by adding a page/screen flow and adding the screens necessary for your user to complete their primary tasks. For this reason, we’ll remain in the “prototyping” phase of our design process.
      </p>
      <p>
        Our goals for this week are for you to:
        <ul>
          <li>
            Understand the purpose and use of ‘best practices’ or convention within design solutions
          </li>
          <li>
            Gain familiarity with methods and tools used to understand content structuring
          </li>
          <li>
            Gain experience in creating a meaningful and effective interaction model for a website/app, based on previously conducted user research
          </li>
        </ul>
      </p>
    <ol class="grey-li">
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-1"><span class="action-type">1. Watch</span>"Make Your Content Make Sense"
          </div>
          <div id="w3-1" class="collapse sub-content">
          <p>
            This week’s content should help you gain a new perspective on how important it is to pay attention to all the details of your design, including navigation structure, button language, and overall layout. This will just give you a taste of some of the things you need to consider and ways that you can decide if your decisions have been effective.
          </p>
          <p>
          Go to Gymnasium   <strong><a href="http://gymnasium.aquent.com/courses/GYM/103/0/about" target="_blank">Lesson 4: Make Your Content Make Sense</a></strong> <em>(Skip the "Lesson conclusion")</em>
          </p>
          </div>

        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-2"><span class="action-type">2. Read</span>from <em>Universal Methods of Design</em>
          </div>
          <div id="w3-2" class="collapse sub-content">
            <p>
              UXers employ a number of methods in order to better understand what it is that needs to be built and why. This helps them make more effective prototypes and saves time and money overall. During the classroom portion of this program, we’ll employ many of these methods during the “Identify” phase of our design process. Since we’re working on an abbreviated timeline, you’ll just be gaining exposure to these different methods during Prework.
            </p>
            <p>
                Read about:
            </p>
            <ul>
              <li>
                Affinity diagramming (pg 12-13)
              </li>
              <li>
                Card sorting (pg 26-27)
              </li>
              <li>
                Content inventory & audit (pg 42-43)
              </li>
              <li>
                <a href="https://uxplanet.org/ux-glossary-task-flows-user-flows-flowcharts-and-some-new-ish-stuff-2321044d837d" target="_blank">Site maps, screen flows, user flows, etc</a>
              </li>
              <!-- <li>
                <a href="http://theuxreview.co.uk/sitemaps-the-beginners-guide/" target="_blank">Site maps</a>
              </li> -->
            </ul>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-3"><span class="action-type">3. Read</span>from <em>Universal Principles of Design</em>
          </div>
          <div id="w3-3" class="collapse sub-content">
            <p>
              Now that we’re getting into the most complicated and meaningful pieces of a design, you may find yourself wondering <em>“How will I ever be able to design all of this well?”</em> It’s ok to feel this way, as it means that you are recognizing the importance of every single component of a product or experience, beyond the visual styling of that artifact. While the visuals are incredibly critical, they are not the only layer of information that needs consideration. If the meaning, organization, and process of interacting with each component is not carefully considered and evaluated, the visual styling will simply be a nice looking layer on a poorly crafted experience.
            </p>
            <p>
              We will spend a lot of time throughout Prime talking about and implementing the principles that support good design. This week, we’ll focus on a couple organizational principles that help you achieve strong hierarchy: <strong>chunking</strong> and <strong>five hat racks</strong>.
            </p>
            <p>
                Read about:
            </p>
            <ul>
              <li>
                Chunking (pg 40-41)
              </li>
              <li>
                Five hat racks (pg 100-101)
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-4"><span class="action-type">4. Read</span>excerpt from <em>Don’t Make Me Think</em> by Steve Krug
          </div>
          <div id="w3-4" class="collapse sub-content">
           <p>
           <a href="https://sensible.com/about.html" target="_blank">Steve Krug</a> has long been a prophet of usability principles and spreads his message through engaging books, videos, and other content. Many people find his books approachable and invaluable, even after being in publication for well over a decade. Much of what he writes about is a practical application and evaluation of the principles we will be discussing throughout the course.
         </p>
         <p>
           Take a few minutes to <a href="http://www.sensible.com/downloads/DMMT-Revisited-sample-chapter.pdf
  " target="_blank">read the brief four-page excerpt</a> from <em>Don’t Make Me Think:  A Common Sense Approach to Web Usability</em>, available for free on Krug’s website.
         </p>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-5" ><span class="action-type">5. Discuss</span>in Slack
          </div>
          <div id="w3-5" class="collapse sub-content">
            <div class="discussion-block">
              <p><strong>What was most memorable about the Krug reading? </br>
                Is there anything that you disagree with or find confusing?</strong></p>
            </div>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-6"><span class="action-type">6. Complete</span>a screenflow and adjust navigation by Sunday, 11:30pm
          </div>
          <div id="w3-6" class="collapse sub-content">
            <p>
            This week, your job is to design a structure for your site or app and determine the type of navigation that is most appropriate for your users, based on their primary tasks and goals. Keeping Krug’s mantra in mind, make things simple and meaningful for your users, so that the experience is quick and painless, leaving users feeling confident that they accomplished their goals correctly.
            </p>
            <p>
            It will be helpful to consult resources on user-interface or UI patterns, including some common <a href="https://www.nngroup.com/articles/mobile-navigation-patterns/" target="_blank">mobile navigation patterns</a> and/or <a href="http://www.webdesignerdepot.com/2011/11/navigation-patterns-for-ten-common-types-of-websites/" target="_blank">website navigation patterns</a>. We’ll get into this in more depth next week, but these should help you get started.
            </p>

            <!-- <p>
              To make things a bit more complicated (or clearer, depending on how you look at it), you also need to include the following items in your navigation structure. You can rename any of these items, rearrange them, and even nest them in sub-menus, if necessary.
              <ul>
                <li>Our Picks</li>
                <li>About us</li>
                <li>Career opportunities</li>
                <li>Contact us</li>
                <li>Privacy policy</li>
                <li>Terms of service</li>
                <li>FAQ</li>
                <li>Press releases</li>
                <li>Our Blog</li>
              </ul>
            </p> -->
            <p><strong><a href="https://primeacademy.io/student/assignments/colfax-week-3-site-map-and-or-screen-flow" target="_blank">View the assignment</a></strong>
              in the student portal
            </p>
          </div>
        </li>
        <li>
          <div data-toggle="collapse" class="collapsed" data-target="#w3-7" class="last"><span class="action-type">7. Attend</span>a Video Chat
          </div>
          <div id="w3-7" class="collapse sub-content">
            <p>
                Check Slack for a reminder of the specific times. There will be both a daytime and an evening option, hosted via Slack.
              </p>
          </div>
        </li>
      </ol>
      <div class="bonus-white">
        <h3>Take it further</h3>
        <ol class="grey-li">
          <li>
            <div data-toggle="collapse" class="collapsed" data-target="#w3-bonus" class="last"><span class="action-type">Read & Engage</span>to make your content more usable
            </div>
            <div id="w3-bonus" class="collapse sub-content">
              <p>
                Still wondering what the impact of good design can have on a business? Read about a thoughtful and evaluative approach to user flow & content strategy in <a href=" https://articles.uie.com/three_hund_million_button/" target="_blank">“The $300 million button”</a> by <a href="https://www.uie.com/about/" target="_blank">Jared Spool</a>. Post your thoughts and comments to Slack!
              </p>
              <p>
                Experience for yourself what it’s like to quickly evaluate a website by taking a sample 5-second test on <a href="http://www.fivesecondtest.com" target="_blank">Fivesecondtest.com</a>. You’ll instantly see your results alongside those of others!
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </section>
    <footer>
      Prime Digital Academy &copy; 2017
    </footer>
  </body>
  </html>
